.region-highlighted,
.node-at-ct-web-page-layout-builder-form .form-actions,
.layout-builder__message .messages,
.vertical-tabs {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;
}