.page-node-type-at-ct-web-page .button {
  background-color: #787878;
  color: white;
  font-weight: bold;
  font-size: 1.60181rem;
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  letter-spacing: .045rem;
  text-transform: uppercase;
  padding: 1rem 2rem;

  &:hover {
    background-color: #e5e5e5;
    color: #F6452C;
  }
}