.block-at-block-mailchimp-login {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;

  input {
    max-width: 100%;
  }

  .form-item {
    margin: 0;
  }
}