<footer role="contentinfo">
  <div class="at-footer">
    <div class="at-footer--wrapper">
      <div class="at-footer--contact">
        <u>Contact us</u><br />
        Douglas Smith<br />
        <a href="mailto:outdoorspecialtypublications@shaw.ca">outdoorspecialtypublications@shaw.ca</a><br />
        778-754-7403
      </div>
      <div class="at-footer--social-media">
        <div class="at-footer--social-media--facebook">
          <a href="https://www.facebook.com/ArrowTradeMag/">
            <img src="{{ directory }}/images/facebook.png" />
          </a>
        </div>
        <div class="at-footer--social-media--twitter">
          <a href="https://twitter.com/ArrowTradeMag">
            <img src="{{ directory }}/images/twitter.png" />
          </a>
        </div>
        <div class="at-footer--social-media--youtube">
          <a href="https://www.youtube.com/channel/UCy-6z8KcMR0qGxdEOj11lcQ">
            <img src="{{ directory }}/images/youtube.png" />
          </a>
        </div>
      </div>
      <div class="at-footer--copyright">
        {{ 'now'|date('Y') }} ALL RIGHTS RESERVED | ARROW TRADE MAGAZINE
      </div>
    </div>
  </div>
</footer>