<div class="header-container">
  <div class="header-container--logo">
    <a href="home">
      <img src="{{ url('<front>') }}/{{ directory}}/images/arrowtrade_logo.png" alt="Arrowtrade logo">
    </a>
  </div>
  <div class="header-container--menu-hamburger">
    <button class="header-container--menu-button">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </button>
  </div>
  <div class="header-container--menu">
    {{ content }}
  </div>
</div>
